@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
  border: none;
}
.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 80dvw;
  height: 100%;
  padding-top: 120px;
}
.mapboxgl-popup-content {
  width: 80dvw;
  margin-left: -10dvw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mapboxgl-popup-close-button {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.markerheight {
  transform: translateZ(300px);
}
.popup-container {
  z-index: 99999;
}
.popUpWrapper {
  z-index: 99998;
  width: 100%;
  height: auto;
  padding: 6px;
}
.popUpBtn {
  padding: 8px 16px;
  width: 100%;
  display: block;
  background: #bd2238;
}
.popUpBtn:not(:last-child) {
  margin-bottom: 8px;
}
